body {
    margin: 0px;
    padding: 10px;
    font-family: Montserrat;
    color: white;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.times {
    display: grid;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 75px;
    grid-gap: 10px;
    padding: 20px;
}

.label {
    font-size: 0.5em;
}

.value {
    margin-bottom: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 15%;
}

.cell:last-child label {
    color: #00000000;
}

label, select, input {
    display: block;
}

label {
    font-size: 0.8em;
}

select, input[type=submit] {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}

select {
    background-color: #fff;
    font-size: 0.5em;
}

input[type=submit] {
    height: 30px;
    cursor: pointer;
    -webkit-appearance: none;
	-moz-appearance: none;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: auto;
    height: fit-content;
    border: none;
    color: #fff;
    border-radius: 5px;;
    cursor: pointer;
    box-sizing: border-box;
}


@media (min-width: 700px) {
    .times {
        grid-template-columns: 1fr 1fr 1fr;
    }

    select {
        background-color: #fff;
        font-size: 0.8em;
    }
}
